<!DOCTYPE html>
<html>
  <head>
    <title>SpotRecommender</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCwPUjPOPCA_9gz6-FK5WxtzckPI_n2ShI&libraries=places,drawing,geometry&v=3&callback=initMap&"></script>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <div class="mdl-layout__content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
